{% extends "admin/base.html.twig" %}

{% block title %}Edition de l'utilisateur: {{user.fullName}}{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="container">
        <h1>Modification de l'utilisateur {{user.fullName}}</h1>
        <a href="{{path('admin_users_index')}}" class="btn btn-secondary my-3">Retour</a>
        {{form_start(myForm)}}
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Corriger le user?</h4>
                    </div>
                    <div class="card-body">
                        {{form_widget(myForm)}}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i>
                            Enregistrer les Modifications
                        </button>
                    </div>
                </div>
            </div>
         
        </div>
        {{form_end(myForm)}}
    </div>

{% endblock %}


