{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}

    <div class="container-fluid full">
        <h1 class="my-2">Gestion des utilisateurs</h1>
        	{# Formulaire de recherche #}
		<div class="d-flex justify-content-center my-3">
			<div class="col-md-6">
				{{ form_start(searchForm) }}
				<div class="input-group">
					{{ form_widget(searchForm.query, {'attr': {'class': 'form-control'}}) }}
					<div class="input-group-append  mx-4">
						<button type="submit" class="btn btn-primary">Rechercher</button>
					</div>
				</div>
				{{ form_end(searchForm) }}
			</div>
		</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom & Prénom</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Rôles</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.fullName }}</td>
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center">
                         {# place le formulaire ici#}
                         {% for role in user.roles %}
                         <span class="badge bg-primary">{{ role }}</span>
                         {% endfor %}
                        </td>
                        <td class="text-center">
                           <a href="{{path("admin_users_edit",{"id":user.id})}}" class="btn btn-warning"><i class="fa-solid fa-list-check"></i> Modifier les rôles</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {# pagination #}
     		{% if not isSubmitted %}
			{{ pagination.display() }}
		{% endif %}
    </div>


{% endblock %}
