{% extends 'base.html.twig' %}

{% block title %}
    {{ team.name }}
{% endblock %}

{% block body %}
    <h1>{{ team.name }}</h1>

   <img src="/uploads/{{team.logoBackground}}" alt="{{team.logoBackground}}" width='100px'>
   <img src="/uploads/{{team.cover}}" alt="{{team.cover}}"width='100px'>
   <img src="/uploads/{{team.newsPicture}}" alt="{{team.cover}}"width='100px'>
  

    {# Autres informations sur l'équipe #}
    <p>{{ team.devise }}</p>
    <p>{{ team.coach }}</p>
    <p>{{ team.goalscorer }}</p>
    <p>{{ team.president }}</p>
    <p>{{ team.fondation | date("d/m/Y") }}</p>
{% endblock %}
