{% extends "base.html.twig" %}

{% block title %}Modifier avatar{% endblock %}

{% block body %}
    <div class="container full">
        <h1>Modification de l'avatar de {{app.user.email}}</h1>
        <img src="/uploads/{{app.user.picture}}" alt="avatar de {{app.user.email}}">
        {{form_start(myForm)}}
            {{form_widget(myForm)}}
            <button type="submit" class='btn btn-warning'>Confirmez la modification de l'avatar</button>
        {{form_end(myForm)}}
    </div>
{% endblock %} 