{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}
{% block stylesheets %}
 {{ encore_entry_link_tags('loginStyle') }}
{% endblock %}

{% block body %}

<div class="slide" id="loginPage">
    <div class="wrapper">
        <div class="login-container">
            {% if hasError %}
            <div class="alert text-md hero">
                Une erreur est survenue, le nom d'utilisateur ou le mot de passe est invalide
            </div>
            {% endif %}
            {% if loginError %}
            <div class="alert text-md hero">
                {{ loginError }}
            </div>
            {% endif %}
            <div class="col-md-6">
                <div class="container_form">
                    <h2 class="display-lg hero text-center">Vous revoilà !</h2>
                    <form action="{{ path('account_login') }}" method="POST">
                        <div class="form-group my-2">
                            <label for="email" class="text-md hero">E-mail</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value="{{ username }}">
                        </div>
                        <div class="form-group my-2">
                            <label for="password" class="text-md hero">Mot de passe</label>
                            <div class="input-group">
                                <input type="password" name="_password" id="password" class="form-control" placeholder="Votre mot de passe..." required>
                                <span class="input-group-text" id="showPassword">
                                
                                </span>
                            </div>
                        </div>
                        <div class="form-group my-2">
                            <button type="submit" class="btn-submit my-3 text-md hero">Connexion</button>
                        </div>
                    </form>
                    <div class="text-xs hero">Vous n'avez pas de compte ? <a href="{{path('account_register')}}" class="text-white">Inscrivez-vous</a></div>
                </div>
            
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{encore_entry_script_tags('showPassword')}}
{% endblock %}

