<footer id="footer">
    <div id="footer1">
        <div class="footer_container">
            <div id="footertext">
                <img src="{{ asset('images/logo.png') }}" alt="footerimage">
                <p>Ce site a été établi dans le cadre de l’examen de fin d’année 2023-2024 de Dylan Quenon. Les images non-libres de droit ont été utilisées à des fins pédagogiques et non commerciales. Billetterie fictive</p>
            </div>
             <div id="contact-footer">
                <h4>Contactez-nous</h4>
                <a href="{{ path('contact') }}">Contactez-nous</a>
        </div>
            <div id="mentions_legales">
                <h4>Mentions legales</h4>
                <a href="{{path('mentions')}}">Politique de confidentialité</a>
            </div>
            <div class="reseaux">
                <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div id="footer2">
        <div class="footer_container">
            <nav>
                <a href="{{ path('homepage') }}">ACCUEIL</a> <span class="aquamarine">|</span>
                <a href="{{ path('team_index') }}">ÉQUIPES</a> <span class="aquamarine">|</span>
                <a href="{{ path('news_index') }}">ACTUALITÉS</a> <span class="aquamarine">|</span>
                <a href="{{ path('app_ranking') }}">CLASSEMENT</a> <span class="aquamarine">|</span>
                <a href="{{ path('contact') }}">CONTACT</a>
            </nav>
            <div class="copy">
                &copy; DYLAN QUENON - Copyright 2024
            </div>
        </div>
    </div>
</footer>
