<header>
	<div class="menu">
		<div class="round-menu">
			<svg width="40" height="40" viewbox="0 0 100 100">
				<path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
				<path class="line line2" d="M 20,50 H 80"/>
				<path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
			</svg>
		</div>
	</div>
	      
	<ul class="logAction">
		<li><a href="{{path('account_login')}}" class="text-md hero d-flex">Connexion<svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#252525"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/></svg></a></li>
		<li><a href="{{path('account_register')}}" class="text-md hero d-flex align-items-center">Inscription<i class="fa-solid fa-check"></i></a></li>

	</ul>
</header>
		<div id="menuMobile">
			<div class="row row_mobile">
				<nav class="col-md-5">
					<ul>
						<li><a href="{{ path('homepage')}}" class="display-xl stratos"><span >Accueil</span><span class="cloned">accueil</span></a></li>
						<li><a href="#" class="display-xl stratos"><span >Classement</span><span class="cloned">classement</span></a></li>
						<li><a href="{{ path('news_index')}}" class="display-xl stratos"><span >Actualites</span><span class="cloned">actualites</span></a></li>
						<li><a href="#" class="display-xl stratos"><span >Matchs</span><span class="cloned">Matchs</span></a></li>
						<li><a href="{{ path('team_index')}}" class="display-xl stratos"><span >equipes</span><span class="cloned">equipes</span></a></li>
						<li><a href="#" class="display-xl stratos"><span >Contact</span><span class="cloned">Contact</span></a></li>
					</ul>
				</nav>
				<div class="col-md-5 offset-md-2" id="right">
					<div class="circleP">
						<img src="../../images/players.webp" class="players_pic" alt="Axel Witsel - Atlético Madrid, Jude Bellingham - Real Madrid, Ronald Araujo - FC Barcelona">

					</div>
				</div>

			</div>
		</div>
