{% extends 'admin/base.html.twig' %}

{% block title %}Administration des actualités
{% endblock %}

{% block body %}
	<div class="container-fluid full">
		<h1 class="my-2">Gestion des actualités</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titre</th>
					<th>Image</th>
					<th class="text-center">Description</th>
					<th class="text-center">Date</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for news in pagination.data %}
					<tr>
						<td>{{news.id}}</td>
						<td>{{news.title}}</td>
						<td><img src="/uploads/{{news.cover}}" alt="" style="max-width: 30px;"></td>
						<td>{{ news.text|length > 50 ? news.text|slice(0, 50) ~ '...' : news.text }}</td>
						<td class="text-center">{{news.createdAt | date("d-m-Y")}}</td>

						<td class="text-center">
							<a href="#deleteModal{{ news.slug }}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ news.slug }}">
								<i class="fas fa-trash"></i>
							</a>
							{# fais la confirmation de suppresion #}
						{% include 'partials/_delete_modal.html.twig' with {
    'modalId': 'deleteModal' ~ news.slug,
    'modalTitle': 'Supprimer le match',
    'modalMessage': 'Êtes-vous sûr de vouloir supprimer cette news ?',
    'modalAction': path('admin_news_delete', {'slug': news.slug})
} %}


						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{# pagination #}
		{{pagination.display()}}

	</div>
{% endblock %}
