{% extends 'admin/base.html.twig' %}

{% block title %}Administration des matchs{% endblock %}

{% block body %}
    <div class="container-fluid full">
        <h1 class="my-2">Gestion des matchs</h1>
        <a href="{{ path('admin_matches_create') }}" class="btn btn-primary my-4">
            <i class="fa-solid fa-circle-plus"></i>
            <span class="ms-2">Ajouter un match</span>
        </a>

        {# Formulaire de recherche #}
		<div class="d-flex justify-content-center my-3">
			<div class="col-md-6">
				{{ form_start(searchForm) }}
				<div class="input-group">
					{{ form_widget(searchForm.query, {'attr': {'class': 'form-control'}}) }}
					<div class="input-group-append  mx-4">
						<button type="submit" class="btn btn-primary">Rechercher</button>
					</div>
				</div>
				{{ form_end(searchForm) }}

                								<div class="my-3 text-center">
    {{ games|length }} résultat(s)
</div>
		
			</div>
		</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Journée</th>
                    <th>Stade</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Équipe domicile</th>
                    <th class="text-center">Buts équipe domicile</th>
                    <th class="text-center">Équipe extérieure</th>
                    <th class="text-center">Buts équipe extérieure</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for match in games %}
                    <tr>
                        <td>{{ match.id }}</td>
                        <td>{{ match.journee }}</td>
                        <td>{{ match.stadium }}</td>
                        <td class="text-center">{{ match.date|date("d-m-Y") }}</td>
                        <td class="text-center">{{ match.homeTeam.name }}</td>
                        <td class="text-center">{{ match.homeTeamGoals }}</td>
                        <td class="text-center">{{ match.awayTeam.name }}</td>
                        <td class="text-center">{{ match.awayTeamGoals }}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_matches_edit', {'id': match.id}) }}" class="btn btn-warning">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#deleteModal{{ match.id }}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ match.id }}">
                                <i class="fas fa-trash"></i>
                            </a>
                                                    {# Confirmation de suppression #}
                            {% include 'partials/_delete_modal.html.twig' with {
                                'modalId': 'deleteModal' ~ match.id,
                                'modalTitle': 'Supprimer le match',
                                'modalMessage': 'Êtes-vous sûr de vouloir supprimer ce match ?',
                                'modalAction': path('admin_matches_delete', {'id': match.id})
                                } 
                            %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {# Pagination #}
        {% if not isSubmitted %}
			{{ pagination.display() }}
		{% endif %}
    </div>
{% endblock %}
