{% extends 'admin/base.html.twig' %}

{% block title %}Administration des matchs{% endblock %}

{% block body %}
    <div class="container-fluid full">
        <h1 class="my-2">Gestion des matchs</h1>
        <a href="{{ path('admin_matches_create') }}" class="btn btn-primary my-4">
            <i class="fa-solid fa-circle-plus"></i>
            <span class="ms-2">Ajouter un match</span>
        </a>

        {# Formulaire de recherche #}
        <div class="d-flex justify-content-center my-3">
            <div class="col-md-6">
                {{ form_start(searchForm) }}
                <div class="input-group">
                    {{ form_widget(searchForm.query, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher un match'}}) }}
                    <button type="submit" class="btn btn-primary ms-2">Rechercher</button>
                </div>
                {{ form_end(searchForm) }}

                <div class="my-3 text-center">
                    {{ games|length }} résultat(s)
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th class="text-center">Journée</th>
                        <th class="text-center">Stade</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Match</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in games %}
                        <tr>
                            <td>{{ match.id }}</td>
                            <td class="text-center">{{ match.journee }}</td>
                            <td class="text-center">{{ match.stadium }}</td>
                            <td class="text-center">{{ match.date|date("d-m-Y") }}</td>
                            <td class="text-center">
                                
                                <img src="/uploads/{{ match.homeTeam.logo }}" alt="{{ match.homeTeam.name }} logo" class="" style="height: 30px; width: auto; margin-right: 5px;">
                                {{ match.homeTeam.name }}
                                {{ match.homeTeamGoals }} - {{ match.awayTeamGoals }}
                                <img src="/uploads/{{ match.awayTeam.logo }}" alt="{{ match.awayTeam.name }} logo" class="" style="height: 30px; width: auto; margin-left: 5px;">
                                {{ match.awayTeam.name }}
                            </td>
                            <td class="text-center">
                                <a href="{{ path('admin_matches_edit', {'id': match.id}) }}" class="btn btn-warning btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#deleteModal{{ match.id }}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ match.id }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                                {# Confirmation de suppression #}
                                {% include 'partials/_delete_modal.html.twig' with {
                                    'modalId': 'deleteModal' ~ match.id,
                                    'modalTitle': 'Supprimer le match',
                                    'modalMessage': 'Êtes-vous sûr de vouloir supprimer ce match ?',
                                    'modalAction': path('admin_matches_delete', {'id': match.id})
                                    } 
                                %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {# Pagination #}
        {% if not isSubmitted %}
            {{ pagination.display() }}
        {% endif %}
    </div>
{% endblock %}
