{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{encore_entry_link_tags('newStyle')}}
{% endblock %}

{% block title %}
	{{ news.title }}
{% endblock %}

{% block body %}

	<div class="slide" id="news">
		<div class="heading" style="background-image:url('/uploads/{{news.cover}}')">
			<div class="heading_title">
				<h5 class="display-xl text-uppercase stratos">{{news.status}}
					:</h5>
				<h3 class="display-xl text-uppercase stratos">{{news.title}}</h3>
			</div>
		</div>
		<div class="wrapper" id="wrapperNews">
			<div class="row">
				<div class="col-md-6" id="blockNews">
					<div class="content_news">
						{% if (app.user and app.user == news.author) or is_granted('ROLE_ADMIN') %}
							<div class="d-flex">
								<a href="{{path('news_edit', {'slug':news.slug})}}" class="btn btn-warning m-2">Modification de la news</a>
								<button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Supprimer la news</button>
							</div>
						{% endif %}
						<div class="d-flex flex-column gap-2">

							<p class="text-xl stratos text-uppercase">{{news.subtitle}}
							</p>
																				<p class="text-sm hero d-flex align-items-center">
    <i class="fas fa-stopwatch me-2"></i>
    <span class="text-sm hero fw-bold ms-1">
        {{ ((news.text | split(' ') | length / 200) | round(0, 'ceil')) }} min
    </span>
</p>




						</div>
						<p class="content_text text-md hero">{{ news.text | striptags | nl2br | raw }}</p>
						<div class="author">
							<p class="text-md hero text-white">Écrit par
								<a href="{{ path('user_show', {'slug': news.author.slug}) }}" class="">{{ news.author.fullName}}</a>
								le
								{{ news.createdAt | date('d/m/Y') }}</p>
						</div>
					</div>

					<div
						class="actionsNews">
						<!-- templates/news/show.html.twig -->

						{% if previousNews %}
							<a href="{{ path('news_show', {slug: previousNews.slug}) }}" class="previousNews text-md hero">
								<i class="fa-solid fa-arrow-left"></i>
								Aller à l'article précédent</a>
						{% endif %}

						{% if nextNews %}
							<a href="{{ path('news_show', {slug: nextNews.slug}) }}" class="nextNews text-md hero">Aller à l'article suivant<i class="fa-solid fa-arrow-right"></i>
							</a>
						{% endif %}

					</div>
				</div>
				<div class="col-md-6 d-flex  justify-content-center align-items-start">
					{% for team in news.team %}
						<img src="/uploads/{{ team.logoBackground}}" alt="Logo de l'équipe {{ team.name }}" class=" d-block img-fluid logoTeam">
					{% endfor %}

				</div>
			</div>
			<div class="container_comment">
				<h2 class="display-xl kizard">Commentaires ({{news.comments | length}})
					<br><span class="text-xl hero">Note globale (
						{{ news.getAvgRatings() }}
						/ 5 )</span>
				</h2>
				<hr>

				{% if news.comments | length > 0 %}
				<div class="">
    {% for comment in news.comments %}
        <div class="cardComments col-md-7 my-5">
            <div class="headingComment d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    {% if comment.author.picture %}
                        <img src="/uploads/{{ comment.author.picture }}" alt="Photo de profil de {{ comment.author.fullName }}" class="mx-2" width="50px" height="50px" style="border-radius:50% 50%; object-fit:cover;">
                    {% endif %}
                    <p class="text-md hero fw-bold mb-0">{{ comment.author.fullName }}
                        <span class="fw-normal">
                            a dit le
                            <span class="fw-bold">{{ comment.createdAt | date('d-m-Y') }}</span>
                        </span>
                    </p>
                </div>
                {% include "partials/rating.html.twig" with {'rating': comment.rating} %}
            </div>

            <div class="contentCard d-flex gap-5 text-md hero">
                {{ comment.content | nl2br | raw }}
            </div>

            {% if app.user and (app.user == comment.author or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR')) %}
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-danger m-4" data-bs-toggle="modal" data-bs-target="#deleteCommentModal{{ comment.id }}">Supprimer le commentaire</button>
                </div>
            {% endif %}
        </div>

        {% include 'partials/_delete_modal.html.twig' with {
            'modalId': 'deleteCommentModal' ~ comment.id,
            'modalTitle': 'Supprimer le commentaire',
            'modalMessage': 'Êtes-vous sûr de vouloir supprimer ce commentaire ?',
            'modalAction': path('comment_delete', {'id': comment.id})
        } %}
    {% endfor %}
</div>


				{% else %}
					<p class="text-md hero my-5">Cette actualité n'a pas encore reçu de commentaire...Soyez le premier !</p>
				{% endif %}

				<div class="formComment">

					<div class="col-lg-6">
						<h4 class="mt-3 display-sm hero">Vous voulez ajouter un commentaire
						</h4>
						{% if app.user %}
							<!-- Formulaire pour ajouter un commentaire -->
							{{ form_start(myForm) }}

							<div class="form-group text-lg hero my-4">
								<label for="rating">Note</label>
								<div class="rating" id="rating">
									{% for i in 1..5 %}
										<i class="far fa-star" data-value="{{ i }}"></i>
									{% endfor %}
								</div>
								{{ form_widget(myForm.rating) }}
							</div>

							{{ form_widget(myForm.content) }}
							{{ form_errors(myForm.content) }}

							<button type="submit" class="btn mt-4">Ajouter le commentaire</button>

							{{ form_end(myForm) }}
						{% else %}
							<p class="text-lg hero">Pour ajouter un commentaire, vous devez être connecté. Vous pouvez vous connecter en
								<a href="{{ path('account_login') }}">cliquant ici</a>
							</p>
						{% endif %}
					</div>

				</div>
			</div>


		</div>

	</div>


	<!-- Modal de suppression -->
	{% include 'partials/_delete_modal.html.twig' with {
			'modalId': 'deleteModal',
			'modalTitle': 'Supprimer la news',
			'modalMessage': 'Êtes-vous sûr de vouloir supprimer cette news ?',
			'modalAction': path('news_delete', {'slug': news.slug})
		} 
	%}

{% endblock %}
{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', () => {
const stars = document.querySelectorAll('.rating i');
const ratingInput = document.querySelector('.rating-input');
stars.forEach(star => {
star.addEventListener('click', () => {
const ratingValue = star.getAttribute('data-value');
ratingInput.value = ratingValue;

// Met à jour l'affichage des étoiles
stars.forEach(s => {
if (s.getAttribute('data-value') <= ratingValue) {
s.classList.remove('far');
s.classList.add('fas');
} else {
s.classList.remove('fas');
s.classList.add('far');
}
});
});
});
});
	</script>
{% endblock %}
