{% extends 'base.html.twig' %}

{% block title %}Page de
	{{ user.fullName }}
{% endblock %}

{% block body %}
	<div class="bg-light py-5" id="userPage">
		<div
			class="container">
			<!-- Profil de l'utilisateur -->
			<div class="row align-items-center mb-5">
				<div class="col-md-3 text-center">
					{% if user.picture %}
						<img src="/uploads/{{ user.picture }}" alt="Avatar de {{ user.fullName }}" class="avatar mb-3 rounded-circle" style="width:150px; height:150px; object-fit:cover; border: 5px solid #fff; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
					{% else %}
						<img src="http://placehold.it/150x150" alt="Avatar de {{ user.fullName }}" class="avatar mb-3 rounded-circle" style="width:150px; height:150px; object-fit:cover; border: 5px solid #fff; box-shadow: 0 0 10px rgba(0,0,0,0.2);">
					{% endif %}
				</div>
				<div class="col-md-9">
					<h1 class="display-4 mb-4">{{ user.fullName }}</h1>
					{% if user is same as (app.user) %}
						<div class="mt-4">
							<a href="{{ path('account_profile') }}" class="btn btn-primary me-2 mb-2">Modifier mes informations</a>
							<a href="{{ path('account_password') }}" class="btn btn-primary me-2 mb-2">Modifier mon mot de passe</a>
							<a href="{{ path('account_modifimg') }}" class="btn btn-primary me-2 mb-2">Modifier mon avatar</a>
							<a href="{{ path('account_delimg') }}" class="btn btn-warning me-2 mb-2">Supprimer mon avatar</a>
							<a href="{{ path('account_delete') }}" class="btn btn-danger me-2 mb-2">Supprimer mon compte</a>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="mb-5">
				<h2 class="h4 mb-3">Description</h2>
				<p class="lead">{{ user.description | raw | nl2br }}</p>
			</div>
			<hr>

			<!-- Équipes suivies -->
			<div class="mt-5">
				<h2 class="h4 mb-4">Équipes suivies</h2>
				<div class="row">
					{% for team in teamsFollow %}
						<div class="col-md-3 text-center my-4">
							<div class="card h-100">
								{% if team.logo %}
									<img src="/uploads/{{ team.logo }}" alt="{{ team.name }}" class="card-img-top" style="max-height: 150px; object-fit: contain;">
								{% else %}
									<img src="/images/defaultTeam.png" alt="Logo de {{ team.name }}" class="card-img-top" style="max-height: 150px; object-fit: contain;">
								{% endif %}
								<div class="card-body">
									<h5 class="card-title">{{ team.name }}</h5>
									{% if user is same as (app.user) %}
										<a href="{{ path('remove_team_from_followed_user', {'slug': team.slug}) }}" class="btn btn-warning btn-sm">Retirer des équipes suivies</a>
									{% endif %}
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-12 text-center mb-4">
							<p class="text-muted">Cet utilisateur ne suit aucune équipe.</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
